<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <mat-card-content>
                        <h3><b>Instructions</b></h3>
                <ul>
                    <li>Do not refresh the page otherwise you will get new question in these quiz</li>
                    <li>Do not switch the tabs</li>
                    <li>Do not minimize the window</li>
                </ul>
                    </mat-card-content>
                </mat-card>
                

             </div>
             <div class="col-md-8">
                <ng-container *ngIf="questions">
                    <h1 style="margin-top: 20px;">On Going Quiz <b> {{questions[0].quiz.title}}</b></h1>

                </ng-container>
                <mat-card *ngFor="let q of questions;let i=index" style="margin-top: 10px;">

                    <mat-card-content>
                        <p>Q {{i+1}}) <span style="margin-left: 20px;" [innerHTML]="q.content"></span> </p>
                        <mat-divider>

                        </mat-divider>
                        <br>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswers" type="radio" [value]="q.option1" name="{{i}}">{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswers"  type="radio" [value]="q.option2" name="{{i}}">{{q.option2}}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswers" type="radio" [value]="q.option3" name="{{i}}">{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswers" type="radio" [value]="q.option4" name="{{i}}" >{{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <div class="container text-center" style="margin-top: 20px; margin-bottom:20px;">
                        <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
                    </div>
                </mat-card>
                

             </div>
             <div class="col-md-2">
                <mat-card style="margin-top: 70px; ">
                    <mat-card-header style="margin-left:3px">
                        Progress
                    </mat-card-header>
                    <mat-card-subtitle>
                        Quiz will automatically submitted when timer reaches to <b>0.0</b>
                    </mat-card-subtitle>
                    <h1>{{getFormattedTime()}}</h1>
                    <mat-card-content>
                        <mat-spinner color="primary" mode="determinate" [value]="(timer/((questions.length)*2*60))*100" style="margin: auto;"></mat-spinner>
                    </mat-card-content>
                </mat-card>>

             </div>
        </div>
    </div>
</div>


<div class="bootstrap-wrapper text-center" *ngIf="isSubmit">
    
        <div class="row"  style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Quiz Result</mat-card-title> 
                    </mat-card-header>
                    <mat-card-content>
                        <h1>Marks Obtained: <b>{{marksGot}}</b></h1>
                        <h1>Correct answer: <b>{{correctAnswer}}</b></h1>
                        <h1> Questions Attempted: <b>{{attempted}}</b></h1>
                        
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="printPage()" mat-raised-button color="primary">Print</button>
                        <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
</div>

